.container {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.container:hover,
.active {
  background-color: rgb(223, 250, 226);
  color: black;
}